<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.src">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="src.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name="src.activities.StatusActivity"></activity>
        <activity android:name="src.activities.DataActivity" />
        <activity android:name="src.activities.Activity_Entrance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="src.activities.MainActivity" />
    </application>

</manifest>